main.column-page#quarto-document-content{
    /* max-width: 1000px; */

    .dashboard {
        width: auto;
        height: auto;
    }

    .callout {
        max-width: 1000px;
    }
}

@media screen and (min-width: 601px) {
    .hide-on-desktop {
      display: none;
    }
  }