/* css styles */

.metrics {
  .card-title{
    opacity: .8;
    font-size: 0.7rem;
  }
  .card-subtitle {
    font-size: 1.3rem;
    font-weight: bolder;
    color: #3A3E3B;
  }  
  .card-text {
    font-size: 0.7rem;
  }
  .card {
    background-color: #F0EFF4;
  }
}

.dashboards {

  .card-title{
    margin-bottom: .5em;  
  }
  .card-text {
    font-size: .8rem;
    opacity: .9;
    color: #444 ;
  }

  .card {
    background-color: #F0EFF4;
  }  
}

h4 {
  margin-bottom: .7em; 
  font-weight: bolder; 
  color: #444 ;
}
#title-block-header.quarto-title-block .quarto-title-banner {
  .quarto-title .title{
    margin-bottom:.5em;
  }
  .description>p {
    font-size:.9rem;
  }
} 



@media screen and (max-width: 1000px) {
  .quarto-title-banner {
    padding-top: 40px; /* Adjust the top padding as needed */
    padding-bottom: 40px; /* Adjust the bottom padding as needed */
  }
}
